{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="mt-5">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-8 text-center heading-section">
        <h2 class="mb-3">Leaning | Understanding</h2>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <p>
          Global climate change and its impacts on people and resources pose serious societal challenges. The actions
          we take today will influence the path of future greenhouse gas emissions and the magnitude of warming. They
          will also affect our ability to respond and adapt to changes and to reduce the vulnerability of people and
          places to possible harm. Educating future generations about the causes and effects of global climate change
          is imperative because implementing solutions depends on an informed public.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-3">
        <h6 class="card-header">
          US Environmental Protection Agency
        </h6>
        <img src="{% static 'images/epa.jpg' %}" class="card-img-top rounded"
          alt="US Environmental Protection Agency" />
        <div class="card-body">
          <p class="card-text">
            Understanding and addressing climate change is critical to EPA's mission of protecting human health and the
            environment. EPA tracks and reports greenhouse gas emissions, leverages sound science, and works to reduce
            emissions to combat climate change.
          </p>
        </div>
        <div class="card-footer">
          <a href="https://www.epa.gov/climate-change" class="btn btn-success">Learn more</a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <h6 class="card-header">
          Can YOU fix climate change?
        </h6>
        <img src="{% static 'images/kurzgesagt-video.jpg' %}" class="card-img-top rounded"
          alt="Can YOU fix climate change?" />
        <div class="card-body">
          <p class="card-text">
            Never before in human history have we been richer, more advanced or powerful. And yet we feel overwhelmed in
            the face of rapid climate change. So why don’t we just like… prevent it? Well, it’s complicated.
          </p>
        </div>
        <div class="card-footer">
          <a href="https://www.youtube.com/watch?v=yiw6_JakZFc" class="btn btn-success">Watch now</a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <h6 class="card-header">
          Carbon footprint calculator
        </h6>
        <img src="{% static 'images/carbon-calculator.jpg' %}" class="card-img-top rounded"
          alt="Carbon footprint calculator" />
        <div class="card-body">
          <p class="card-text">
            What's your carbon footprint? Carbon emissions from your lifestyle choices, from transportation to diet,
            impact the climate. This is a global problem, but you can be a part of the solution.
          </p>
        </div>
        <div class="card-footer">
          <a href="https://www.conservation.org/carbon-footprint-calculator#/" class="btn btn-success">Calculate
            here</a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <h6 class="card-header">
          How tech could help the world fight climate change
        </h6>
        <img src="{% static 'images/tech-help.jpg' %}" class="card-img-top rounded"
          alt="How tech could help the world fight climate change" />
        <div class="card-body">
          <p class="card-text">
            Climate technologies won’t "fix" climate change, but they could help the world meet global sustainability
            goals.
          </p>
        </div>
        <div class="card-footer">
          <a href="https://www.youtube.com/watch?v=C14LJmj2w2A" class="btn btn-success">Watch now</a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <h6 class="card-header">
          NASA's Global Climate Change website
        </h6>
        <img src="{% static 'images/nasa.jpg' %}" class="card-img-top rounded"
          alt="NASA Global Climate Change website" />
        <div class="card-body">
          <p class="card-text">
            NASA’s Global Climate Change website hosts an extensive collection of global warming resources for media,
            educators, forecasters and public speakers. Browse by topic and by media type, including videos, social
            media shareables, infographics, quizzes and interactives.
          </p>
        </div>
        <div class="card-footer">
          <a href="https://climate.nasa.gov/" class="btn btn-success">Learn more</a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <h6 class="card-header">
          How You Can Help Fight Climate Change
        </h6>
        <img src="{% static 'images/how-to-help.jpg' %}" class="card-img-top rounded"
          alt="How You Can Help Fight Climate Change" />
        <div class="card-body">
          <p class="card-text">
            It’s true that aggressive policies and laws are crucial to save the planet. But carbon-cutting actions by
            individuals can also make a dent (especially when corporations and elected officials take note!). Here are
            some easy, concrete ways you can make a difference.
          </p>
        </div>
        <div class="card-footer">
          <a href="https://www.nrdc.org/stories/how-you-can-help-fight-climate-change" class="btn btn-success">Learn
            more</a>
        </div>
      </div>
    </div>

  </div>
</section>
</body>
{% endblock %}